In [ ]:
-- https://school.programmers.co.kr/learn/courses/30/lessons/164673
SELECT  B.TITLE, B.BOARD_ID, R.REPLY_ID, R.WRITER_ID, R.CONTENTS, DATE_FORMAT(R.CREATED_DATE, '%Y-%m-%d') AS CRAETED_DATE
  FROM  USED_GOODS_BOARD AS B
 INNER
  JOIN  USED_GOODS_REPLY AS R
    ON  B.BOARD_ID = R.BOARD_ID
 WHERE  SUBSTR(B.CREATED_DATE,1,7) = '2022-10'
 ORDER BY  R.CREATED_DATE ASC, B.TITLE ASC;

In [ ]:
 -- https://school.programmers.co.kr/learn/courses/30/lessons/133025
SELECT F.FLAVOR
FROM FIRST_HALF F
JOIN ICECREAM_INFO I
  ON F.FLAVOR = I.FLAVOR
WHERE F.TOTAL_ORDER > 3000
  AND I.INGREDIENT_TYPE = 'fruit_based'
ORDER BY F.TOTAL_ORDER DESC;

In [ ]:
-- https://school.programmers.co.kr/learn/courses/30/lessons/132203
SELECT DR_NAME, DR_ID, MCDP_CD, DATE_FORMAT(HIRE_YMD, '%Y-%m-%d') AS HIRE_YMD

FROM DOCTOR
WHERE MCDP_CD in('CS','GS')
ORDER BY HIRE_YMD DESC, DR_NAME ASC

In [ ]:
-- https://school.programmers.co.kr/learn/courses/30/lessons/131536
SELECT USER_ID,PRODUCT_ID
FROM ONLINE_SALE 
GROUP BY USER_ID,PRODUCT_ID
HAVING COUNT(*)>=2 
ORDER BY USER_ID ASC , PRODUCT_ID DESC

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/59035
SELECT NAME,DATETIME
FROM ANIMAL_INS 
ORDER BY ANIMAL_ID DESC

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/59036
SELECT ANIMAL_ID,NAME
FROM ANIMAL_INS 
WHERE INTAKE_CONDITION ='Sick'
ORDER BY ANIMAL_ID

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/59037
SELECT ANIMAL_ID,NAME
FROM ANIMAL_INS
WHERE NOT INTAKE_CONDITION ='Aged'
ORDER BY ANIMAL_ID

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/132201
SELECT PT_NAME, PT_NO, GEND_CD, AGE, COALESCE(TLNO, 'NONE') AS TLNO
FROM PATIENT 
WHERE AGE <= 12 and GEND_CD	 ="W"
ORDER BY AGE DESC , PT_NAME ASC

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/131120
SELECT MEMBER_ID, MEMBER_NAME, GENDER, DATE_FORMAT(DATE_OF_BIRTH, '%Y-%m-%d') AS DATE_OF_BIRTH
FROM MEMBER_PROFILE
WHERE GENDER = 'W'
  AND MONTH(DATE_OF_BIRTH) = 3
  AND TLNO IS NOT NULL
ORDER BY MEMBER_ID ASC;

----------------------------------------
/*
해당 문제에서 DATE_OF_BIRTH은 DATE 타입이라 DATE_OF_BIRTH LIKE '%-03-%' 이런방식은 권장하지 않음


*/