In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/133027
SELECT F.FLAVOR
FROM FIRST_HALF F
JOIN JULY J
ON F.FLAVOR = J.FLAVOR
GROUP BY FLAVOR
ORDER BY SUM(F.TOTAL_ORDER) DESC
LIMIT 3

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/157339
SELECT 
    C.CAR_ID, 
    C.CAR_TYPE, 
    ROUND(C.DAILY_FEE * 30 * (100 - P.DISCOUNT_RATE) / 100) AS FEE
FROM CAR_RENTAL_COMPANY_CAR AS C
JOIN CAR_RENTAL_COMPANY_DISCOUNT_PLAN AS P 
    ON C.CAR_TYPE = P.CAR_TYPE
WHERE C.CAR_ID NOT IN (
    SELECT CAR_ID
    FROM CAR_RENTAL_COMPANY_RENTAL_HISTORY
    WHERE END_DATE > '2022-11-01' AND START_DATE < '2022-12-01'
)
AND P.DURATION_TYPE = '30일 이상'
GROUP BY C.CAR_ID
HAVING C.CAR_TYPE IN ('세단', 'SUV')
   AND FEE BETWEEN 500000 AND 2000000
ORDER BY FEE DESC, C.CAR_TYPE ASC, C.CAR_ID DESC;

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/131117
SELECT P.PRODUCT_ID,P.PRODUCT_NAME,SUM(AMOUNT)*P.PRICE AS TOTAL_SALES
FROM FOOD_ORDER O
JOIN FOOD_PRODUCT P
ON O.PRODUCT_ID = P.PRODUCT_ID
WHERE  YEAR(O.PRODUCE_DATE) = 2022 AND MONTH(O.PRODUCE_DATE) = 5
GROUP BY (PRODUCT_ID)
ORDER BY TOTAL_SALES DESC, O.PRODUCT_ID

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/144854
SELECT B.BOOK_ID, A.AUTHOR_NAME,DATE_FORMAT(B.PUBLISHED_DATE, '%Y-%m-%d') AS PUBLISHED_DATE
FROM BOOK B
JOIN AUTHOR A
ON B.AUTHOR_ID = A.AUTHOR_ID
WHERE B.CATEGORY ='경제'
ORDER BY B.PUBLISHED_DATE

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/131124
SELECT M.MEMBER_NAME, R.REVIEW_TEXT, DATE_FORMAT(R.REVIEW_DATE, '%Y-%m-%d') AS REVIEW_DATE
FROM REST_REVIEW R
JOIN MEMBER_PROFILE M
  ON R.MEMBER_ID = M.MEMBER_ID
WHERE R.MEMBER_ID = (
    SELECT MEMBER_ID
    FROM REST_REVIEW 
    GROUP BY MEMBER_ID
    ORDER BY COUNT(*) DESC
    LIMIT 1
)
ORDER BY REVIEW_DATE,REVIEW_TEXT

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/59042
SELECT ANIMAL_ID, NAME
FROM ANIMAL_OUTS
WHERE ANIMAL_ID NOT IN (
    SELECT ANIMAL_ID
    FROM ANIMAL_INS
)
ORDER BY ANIMAL_ID, NAME

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/59043
SELECT I.ANIMAL_ID, I.NAME
FROM ANIMAL_INS I
JOIN ANIMAL_OUTS O
ON I.ANIMAL_ID = O.ANIMAL_ID
WHERE I.DATETIME > O.DATETIME
ORDER BY I.DATETIME

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/59044
SELECT NAME,DATETIME
FROM ANIMAL_INS
WHERE ANIMAL_ID NOT IN (
    SELECT ANIMAL_ID
    FROM ANIMAL_OUTS
)
ORDER BY DATETIME 
LIMIT 3

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/59045 
SELECT ANIMAL_ID,ANIMAL_TYPE,NAME
FROM ANIMAL_INS
WHERE SEX_UPON_INTAKE NOT IN ('Neutered Male', 'Spayed Female')
  AND ANIMAL_ID IN (
    SELECT ANIMAL_ID
    FROM ANIMAL_OUTS
    WHERE SEX_UPON_OUTCOME IN ('Neutered Male', 'Spayed Female')
)
ORDER BY ANIMAL_ID

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/131533
SELECT P.PRODUCT_CODE,SUM(P.PRICE*O.sales_amount) AS SALES
FROM OFFLINE_SALE O
JOIN PRODUCT P
ON O.PRODUCT_ID = P.PRODUCT_ID
GROUP BY PRODUCT_CODE
ORDER BY SALES DESC , P.PRODUCT_CODE

In [ ]:
--https://school.programmers.co.kr/learn/courses/30/lessons/131534
SELECT 
    YEAR(sales_date) AS YEAR ,
    MONTH(sales_date) AS MONTH, 
    COUNT(DISTINCT S.USER_ID) AS PURCHASED_USERS,
    ROUND(
    COUNT(DISTINCT I.USER_ID)*1.0 /
        (SELECT COUNT(USER_ID)
        FROM USER_INFO 
        WHERE YEAR(JOINED) = 2021),1
        ) AS PUCHASED_RATIO
    
FROM ONLINE_SALE S
JOIN USER_INFO I
ON S.USER_ID = I.USER_ID
WHERE YEAR(JOINED) = 2021
GROUP BY MONTH
ORDER BY YEAR ,MONTH